:root {
  --yellow: #f6bd60ff;
  --paige: #f7ede2ff;
  --rose: #f5cac3ff;
  --green: #84a59dff;
  --coral: #f28482ff;
  --text-dark: #344054;
  --dark: #1d2939;
  --black: #171717;
  --white: #ffffff;
}
