html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
